// Import order matters
@use 'variables';
@use 'mixins';
@use 'reset';

// Component styles (baad mein add honge)
@use 'components/navbar';
@use 'components/assignment-list';
@use 'components/attempt-page';
@use 'components/loader';