@import '../variables';
@import '../mixins';

.loader {
  @include flex-center;
  padding: $spacing-2xl;
  width: 100%;

  &__spinner {
    width: 36px;
    height: 36px;
    border: 3px solid $border;
    border-top-color: $primary;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  &__text {
    margin-left: $spacing-md;
    color: $text-secondary;
    font-size: $text-sm;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}